body {
  background: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  text-align: center;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  padding: 0;
  text-align: center;
  color: #4A4A4A;
}

h1 {
  border-bottom: 3px solid #66A3FF;
  margin: auto;
  font-size: 2.5em;
  font-weight: bold;
  padding: 6px;
  letter-spacing: 1.5px;
  background-color: #CCE0FF;
}

h2 {
  font-size: 2em;
  margin-top: 1 auto;
  margin-bottom: auto;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}
h5 {
  margin-top: auto;
  font-size: 1em;
}

p, ul {
  margin: 15px 0;
  text-align: center;
}

ul {
  padding-left: 30px;
}

#formbox {
  width: 250px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  padding: 8px;
  margin: .5%;
}
#formbox:disabled {
  background: #FFFFFF;
  border: #FFFFFF;
  color: #FFFFFF;
  opacity: 0;

}
#formbox:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: #FFFFFF;
  opacity: 0;
}
#formbox:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  opacity: 0;
}
#formbox:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  opacity: 0;
}
#formbox:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #FFFFFF;
  opacity: 0;
}

#submit {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100px;
  border: none;
  height: 35px;
  text-align: center;
  margin: auto;
  color: #4C4C4C;
}
#submit:disabled {
  background: #FFFFFF;
  border: #FFFFFF;
  color: #FFFFFF;
}
#dataTitle {
  text-decoration: underline;
}
#security {
  color: #666666;
  margin-bottom: 5px;
}
#fieldData {
  color: #808080;
  margin: 5px;
}
pre {
  text-align: left;
}
#prettyResponse {
    display:inline-block;
    margin: 5em;
    vertical-align: top;

}
#postBody {
    display:inline-block;
    margin: 5em;
    vertical-align: top;
}
#rawResponse {
    display:inline-block;
    margin: 5em;
    vertical-align: top;
}
