body {
	background: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	line-height: 1.7;
	margin: 0;
	padding: 30px;
	text-align: center;
	color: #4A4A4A;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
	font-size: 12px;
	margin: 0 2px;
	padding: 0px 5px;
}

h1, h2, h3, h4 {
	padding: 0;
	text-align: center;
	color: #4A4A4A;
}

h1 {
	border-bottom: 3px solid #70A7FD;
	margin: auto;
	font-size: 2.5em;
	font-weight: bold;
	padding: 6px;
	letter-spacing: 1.5px;
	background-color: #CCE0FF;
}

h2 {
	font-size: 2em;
	margin-top: 0 auto;
	margin-bottom: auto;
	color: #4A4A4A;
}

h3 {
	font-size: 1.5em;
	color: #4A4A4A;
}

h4 {
	font-size: 1.2em;
	color: #4A4A4A;
}
h5 {
	margin-top: auto;
	font-size: 1em;
	color: #4A4A4A;
}

p, ul {
	margin: 15px 0;
	text-align: center;
	color: #4A4A4A;
}

ul {
	padding-left: 30px;
	color: #4A4A4A;
}

textarea {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px 10px;
	resize: vertical;
	outline: none;
}

pre {
	text-align: left;
	color: #4A4A4A;
}

#queryDiv {
	width: 800px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

#queryForm {
	width: 400px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

#formbox {
	width: 250px;
	height: 30px;
	font-size: 15px;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 1.5px;
	padding: 8px;
	margin: 0 auto;
	margin-top: 8px;
	outline: none;
	color: #4A4A4A;
}

#submit {
	width: 120px;
	height: 40px;
	border: none;
	font-size: 20px;
	letter-spacing: 1.5px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	color: #FFFFFF;
	background-color: #A0A0A0;
	outline: none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	padding:6px 15px;
	text-shadow:0px 1px 0px #707070;
}

#submit:hover {
	background-color:#BCBCBC;
	text-decoration: none;
}
#submit:active {
	background-color: #D0D0D0;
	position:relative;
	top:1px;
}

#dataTitle {
	text-decoration: underline;
	color: #4A4A4A;
}

#security {
	color: #666666;
	margin-bottom: 5px;
}

#fieldData {
	color: #808080;
	margin: 5px;
}

#postBody {
	vertical-align: top;
	width: 400px;
}

#responseBodyInfo {
	display:inline-block;
	overflow-y: auto;
	width: 600px;
	height: 600px;
	text-align: center;
	color: #4A4A4A;
}

#buttons {
	margin-top: 100px;
	text-align: center;
}

#error {
	color: #e4685d;
}

.tab {
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-left: 10px;
}

.tab:hover {
	background-color:#FF958D;
	text-decoration: none;
}

.tab:active {
	background-color: #FFBCB7;
	position:relative;
	top:1px;
}

::-moz-selection { /* Code for Firefox */
    color: #e4685d;
    background: #FFF8DA;
}

::selection {
    color: #e4685d; 
    background: #FFF8DA;
}

#history {
	position: absolute;
	display:inline-block;
	overflow-y: auto;
	top: 120px;
	left: 60px;
	width: 350px;
	height: 600px;
	text-align: left;
	background-color: #FFFFFF;
}
